<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>

<div class="container">
        <form th:action="@{/book/add}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">New Book Information<span
                        style="font-size: small"> * is a required field</span></legend>


                <!-- title -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="title">* Title</label>

                    <div class="col-md-8">
                        <input type="text" name="title" class="form-control" id="title" th:value="${book.title}"
                               required="required" placeholder="Title"/>
                        <span class="text-muted">Title of the book</span>
                    </div>
                </div>

                <!-- author -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="author">* Author</label>

                    <div class="col-md-8">
                        <input type="text" name="author" class="form-control" id="author" th:value="${book.author}"
                               required="required" placeholder="Author"/>
                        <span class="text-muted">Author of the book</span>
                    </div>
                </div>

                <!-- publisher -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="publisher">Publisher</label>

                    <div class="col-md-8">
                        <input type="text" name="publisher" class="form-control" id="publisher"
                               th:value="${book.publisher}" placeholder="Publisher"/>
                        <span class="text-muted">Publisher of the book</span>
                    </div>
                </div>

                <!-- publication date -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="publicationDate">Publication Date</label>

                    <div class="col-md-8">
                        <input type="date" class="form-control" id="publicationDate" name="publicationDate"
                               th:value="${book.publicationDate}" placeholder="ublication Date"/>
                        <span class="text-muted">PublicationDate of the book</span>
                    </div>
                </div>

                <!-- language -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="language">Language</label>

                    <div class="col-md-8">
                        <select th:value="${book.language}" id="language" name="language" class="form-control">
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                        </select>
                    </div>
                </div>

                <!-- category -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="category">*
                        Category</label>
                    <div class="col-md-8">
                        <select th:value="${book.category}" id="category" name="category" class="form-control">
                            <option value="" selected="selected" disabled="disabled">Please select an option...</option>
                            <option value="Management" th:selected="(${book.category}=='Management')">Management</option>
                            <option value="Fiction" th:selected="(${book.category}=='Fiction')">Fiction</option>
                            <option value="Engineering" th:selected="(${book.category}=='Engineering')">Engineering</option>
                            <option value="Programming" th:selected="(${book.category}=='Programming')">Programming</option>
                            <option value="Arts &amp; Literature" th:selected="(${book.category}=='Arts &amp; Literature')">Arts &amp; Literature</option>
                        </select>
                    </div>
                </div>

                <!-- pages -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="pageNumber">Pages</label>

                    <div class="col-md-8">
                        <input type="number" name="numberOfPages" class="form-control" id="pageNumber"
                               th:value="${book.numberOfPages}" placeholder="Page Number"/>
                        <span class="text-muted">Numberof pages of the book</span>
                    </div>
                </div>

                <!-- format -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="format">Format</label>

                    <div class="col-md-8">
                        <select th:value="${book.format}" id="format" name="format" class="form-control">
                            <option value="paperback">Paperback</option>
                            <option value="hardcover">Hardcover</option>
                        </select>
                    </div>
                </div>

                <!-- isbn -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="isbn">ISBN</label>

                    <div class="col-md-8">
                        <input type="text" name="isbn" class="form-control" id="isbn" th:value="${book.isbn}"
                               placeholder="ISBN"/>
                        <span class="text-muted">ISBN of the book</span>
                    </div>
                </div>

                <!-- shipping weight -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="shippingWeight">Shipping Weight</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <input th:value="${book.shippingWeight}" type="number" name="shippingWeight" step="0.01"
                                   class="form-control" id="shippingWeight" placeholder="Shipping Weight"/>
                            <div class="input-group-append">
                                <span class="input-group-text">Ounces</span>
                            </div>
                        </div>
                        <span class="text-muted">Shipping Weight of the book</span>
                    </div>
                </div>

                <!-- list price -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="listPrice">List Price</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input th:value="${book.listPrice}" type="number" name="listPrice" step="0.01"
                                   class="form-control" id="listPrice" placeholder="List Price"/>
                        </div>
                        <span class="text-muted">List price of the book</span>
                    </div>
                </div>

                <!-- our price -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="ourPrice">Our Price</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input th:value="${book.ourPrice}" type="number" name="ourPrice" step="0.01"
                                   class="form-control" id="ourPrice" placeholder="Our Price"/>
                        </div>
                        <span class="text-muted">Our price of the book</span>
                    </div>
                </div>

                <!-- in stock number -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="inStockNumber">Number in stock</label>

                    <div class="col-md-8">
                        <input th:value="${book.inStockNumber}" type="number" name="inStockNumber" class="form-control"
                               id="inStockNumber" placeholder="Number of in-stock copies"/>
                        <span class="text-muted">Number of in-stock copies</span>
                    </div>
                </div>

                <!-- status of book -->
                <div class="form-group row">
                    <!--<label class="col-md-2 col-form-label"for="status">Status</label>-->
                    <label class="col-md-2 col-form-label">Status</label>

                    <div class="col-md-8">
                        <div>
                            <label><input value="true" type="radio" name="active" checked="checked"/> Active </label>
                            <label><input value="false" type="radio" name="active"/>Inactive </label>
                        </div>
                        <span class="text-muted">Whether the book is active or inactive</span>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="description">Description</label>

                    <div class="col-md-8">
                        <textarea name="description" class="form-control" rows="5" id="description"
                                  th:value="${book.description}" placeholder="Description"></textarea>
                        <span class="text-muted">Description of the book</span>
                    </div>
                </div>

                <!-- upload image -->
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="bookImage">Upload book image</label>
                    </div>
                    <div class="col-md-8">
                        <input id="bookImage" type="file" name="bookImage" th:value="${book.bookImage}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-8 row">
                        <button type="submit" class="btn btn-success">Add Book</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
